@model IEnumerable<SQMS.Models.tblPlayListItem>
@{
    ViewBag.Title = "Play List Information";
}
<div class="container">
    <div class="row">
        <h4 class="page-head-line">Play List> @ViewBag.playlist_name> Items </h4>
        <div class="row">
            <div class="col-md-3" style="margin-bottom: 10px;">
                <a href="@Url.Action("Create", "PlayListItems", new { playlist_id = ViewBag.playlist_id })">
                    <button class="btn btn-color" style="margin-bottom: 10px;">New Item</button>
                </a>
            </div>
        </div>

        <div class="row text-center table-bordered table-scroll" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 15px;">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    @if (item.file_type == "VIDEO")
                    {
                        <video class="img-thumbnail" controls>
                            <source type="video/@item.file_extenstion" src="@item.item_url/@item.file_name">
                        </video>
                    }
                    else
                    {
                        <img class="img-thumbnail" src="@item.item_url/@item.file_name" alt="@item.file_name">
                    }
                    <div class="col-lg-12" style="margin-bottom: 10px">
                        @($"[{item.sort_order}] {item.file_name} ({item.duration_in_second} sec.)")
                    </div>
                    <div class="col-lg-12" style="margin-bottom: 10px">
                        <button class="btn btn-color">
                            <a asp-action="Edit" asp-controller="PlayListItems" asp-route-id="@item.playlistitem_id">Edit</a>
                        </button>
                        <button class="btn btn-color">
                            <a asp-action="Delete" asp-controller="PlayListItems" asp-route-id="@item.playlistitem_id">Delete</a>
                        </button>
                    </div>
                </div>
            }
        </div>

        <div class="form-group">
            <div class="col-md-8">
                <button class="btn btn-color">
                    <a asp-action="Index" asp-controller="PlayLists">Back to Play List</a>
                </button>
            </div>
        </div>
    </div>
    <br />
</div>


@section scripts{
    <script src="~/Scripts/sqms/branch.js"></script>

}


