<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "BranchAdminDashboard", "Home", new { area = "" }, null)</li>
    <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            Setting
            <span class="caret"></span>
        </a> 
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Security", "Index", "BranchUsers", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Counters", "Index", "Counters", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Counter Customer Types", "Index", "CounterCustomerTypes", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Notifications", "Index", "Notifications", new { area = "" }, null)</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Counters Status", "CountersStatus", "Branches", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Tokens", "Index", "TokenQueues", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Daily Services", "Index", "ServiceDetails", new { area = "" }, null)</li>
    <li>@Html.ActionLink("Daily Breaks", "Index", "DailyBreaks", new { area = "" }, null)</li>

    <li class="dropdown">
        <a class="btn dropdown-toggle" data-toggle="dropdown">
            Reports
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Local Icon Customer", "LocalCustomersReport", "Report", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Single VS Multiple Visit Summary", "SingleVSMultipleVisitSummaryReport", "Report", new { area = "" }, null)</li>

            <li>@Html.ActionLink("Agent Wise Summary", "AgentWiseReport", "Report", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Service Summary Report", "ServiceSummaryReport", "Report", new { area = "" }, null)</li>

            <li>@Html.ActionLink("General Search", "GeneralSearchReport", "Report", new { area = "" }, null)</li>
            @*<li>@Html.ActionLink("Agent Log Summary Report", "AgentLogSummaryReport", "Report", new { area = "" }, null)</li>*@

            <li>@Html.ActionLink("Break Report", "BreakReport", "Report", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Top N Services", "TopNServicesReport", "Report", new { area = "" }, null)</li>

            <li>@Html.ActionLink("Token Exceeding Minutes", "TokenExceedingReport", "Report", new { area = "" }, null)</li>
            <li>@Html.ActionLink("LogOut Detail Report", "LogOutDetailReport", "Report", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Login Attempt Details Report", "LoginAttemptDetailsReport", "Report", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Centre Wise Summary Report", "CentreWiseSummaryReport", "Report", new { area = "" }, null)</li>
        </ul>
    </li>
</ul>

