@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SQMS::Counter Display</title>
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
    <link rel="stylesheet" type="text/css" href="~/Content/display/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/display/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/display/css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/display/css/style.css">
    <link href="~/Content/themes/base/jquery-ui-V8.0.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <script src="~/Scripts/responsivevoice.src.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="~/Scripts/sqms/signalr.min.js"></script>
    <script src="~/Scripts/sqms/global.js"></script>
</head>

<body>
    <section class="back" >
        <div class=".container-fluid">
            <div class="row">
                <input id="branch_id" type="hidden" value="@ViewBag.branch_id" />
                <input id="welcome" type="hidden" value="@ViewBag.dispalyWelcome" />
                <input id="speakLanguage" type="hidden" value="@ViewBag.speakLanguage" />
                <input id="speakGender" type="hidden" value="@ViewBag.speakGender" />
                <input id="speakRate" type="hidden" value="@ViewBag.speakRate" />
                <div id="divCurrentTokens" class="col-md-3 re">

                    <div class="col-sm-6 bg-color-head"><h2 style="text-align:center">Counter</h2></div>
                    <div class="col-sm-5 bg-color-head"><h2 style="text-align:center">Token</h2></div>
                </div>

                <div class="col-md-9">
                    <video id="myVideo" width="100%" height="100%" style="padding:0px;" muted loop="true" autoplay>
                        <source src="@Url.Content(ViewBag.dispalyVideo)" type="video/mp4" width="100%" height="100%" style="margin:0px; padding:0px; color:black">
                    </video>
                </div>
            </div>
        </div>
    </section>
    <section>      

        <div class="container-fluid">
            <div class="row" style="padding-top:10px">
                <div class="col-md-12 bg-color-full"><h2 id="nextToken" style="color:black">Next Token: </h2></div>
                <div class="col-md-12 bg-color-full">
                    <div class="col-sm-1">
                        <div id="logo-title">
                            <img src="~/Content/display/images/logo.png" alt="Home">
                        </div>
                    </div>
                    <div class="col-sm-11" style="left:-40px">
                        <h4><marquee style="height:50px; color:black">@ViewBag.dispalyFooterAdd</marquee></h4>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <div id="dialog-message" title="Information">
        <div id="body">

        </div>
    </div>
    <script src="~/Scripts/modal/jquery-ui.js"></script>
    <script src="~/Scripts/modal/bootstrap.min.js"></script>
    <script src="~/Scripts/modal/modal-V8.0.js"></script>
    <script src="~/Scripts/sqms/display.js"></script>
</body>
</html>
