@model SQMS.Models.ViewModels.VMBranchLogin
@{
    ViewBag.Title = "Branch User Create";
}

<div class="container">
    <div class="row">
        <h4 class="page-head-line">Branch User > Create</h4>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <form asp-action="Create" asp-controller="BranchUsers" method="post">
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-8">
                            @Html.HiddenFor(m => m.user_id)
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.user_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <select name="branch_id" class="form-control" id="branch_id">
                                <option value="">Select One Branch</option>
                                @foreach (var item in ViewBag.branch_id)
                                {
                                    <option value="@item.branch_id">@item.branch_name</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(model => model.branch_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-8">
                            <input type="submit" value="Create" class="btn btn-color" />
                            <button class="btn btn-color">
                                @Html.ActionLink("Back to List", "Index")
                            </button>
                        </div>
                    </div>
                </div>
            </form>     
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout.validation.js"></script>
