@using SQMS.Models
@model BranchLoginModel

@{
    ViewBag.Title = "Counter Selection";
}

<style type="text/css">
    .bgimg {
        /*background-image: url('../Content/queue.jpg');*/
    }
</style>


<div class="container">


    <h4 class="page-head-line">Counter Selection</h4>
    <div class="row bgimg">
        <div class=" col-md-5">
            <section id="loginForm">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @* @Html.Label("Branch :", htmlAttributes: new { @class = "control-label col-md-3" }) *@
                        <div class="col-md-3">
                            <label class="control-label">Branch :</label>
                        </div>                        
                        <div class="col-md-9">
                            <label id="branch_name">@ViewBag.branch_name</label>
                            <input type="hidden" id="branch_id" value="@ViewBag.branch_id" />
                        </div>
                    </div>



                    <div class="form-group">
                        @*@Html.Label("Counter", htmlAttributes: new { @class = "control-label col-md-2" })*@
                        <div class="col-md-10">
                            <select name="counter_id" class="form-control" id="counter_id" required>
                                <option value="">Select a counter</option>
                                @foreach (var item in ViewBag.counterList)
                                {

                                    <option value="@item.counter_id">@item.counter_no</option>

                                }
                            </select>

                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="submit" value="GO" class="btn btn-color" style=" margin-top: 4px;" />
                        </div>
                    </div>

                }
            </section>
        </div>



    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 scrollbar table-scroll" style="margin-bottom : 20px;">

            <table class="table table-hover table-bordered" id="tblCounterStatus">
                <tr id="Hedding" style="text-align: center;">
                    <th>
                        @Html.DisplayName("Counter No")
                    </th>
                    <th>
                        @Html.DisplayName("Status")
                    </th>
                    <th>
                        @Html.DisplayName("User")
                    </th>
                    <th>
                        @Html.DisplayName("Login Time")
                    </th>
                    <th>
                        @Html.DisplayName("Idle From")
                    </th>
                    <th>
                        @Html.DisplayName("Current Tokenm")
                    </th>
                    <th>
                        @Html.DisplayName("Call Time")
                    </th>
                </tr>

                @foreach (var item in ViewBag.VMBranchCounterStatus)
                {
                    <tr>
                        <td>
                            @item.counter_no
                        </td>
                        <td>
                            @item.Status
                        </td>
                        <td>
                            @item.user_full_name
                        </td>
                        <td>
                            @item.login_time_formated
                        </td>
                        <td>
                            @item.idle_from_formated
                        </td>
                        <td>
                            @item.token_no_formated
                        </td>
                        <td>
                            @item.call_time_formated
                        </td>

                    </tr>


                }



            </table>

        </div>
    </div>

</div>
<br />