@model SQMS.Models.ViewModels.VMBranchDisplayFooter

@{
    ViewBag.Title = "Display Footer Edit";
}
<div class="container">
    <div class="row">
        <h4 class="page-head-line">Branch Display Footer > Edit</h4>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.branch_display_footer_id)
                @Html.HiddenFor(model => model.branch_id)

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-8">
                       Branch: @Html.TextBoxFor(m => m.branch_name, new { @disabled="disabled", @class = "form-control Next" })
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-8">
                        @Html.DropDownList("display_footer_id", null, "Select One Content", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.display_footer_id, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <input type="submit" value="Save" class="btn btn-color" />
                        <a href='@Url.Action("Index")'>
                            <button class="btn btn-color">Back to List</button>
                        </a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout.validation.js"></script>