@model SQMS.Models.tblDisplayFooter

 @{
    ViewBag.Title = "Display Footer Delete";
}

<div class="container">
    <div class="row">
        <h4 class="page-head-line">Display Footer > Delete</h4>
        <h3>Are you sure you want to delete this?</h3>
        <div>
            
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayName("National?")
                </dt>

                <dd>
                    @if (Model.is_global > 0)
                    {
                        @Html.DisplayName("Yes")
                    }
                    else
                    {
                        @Html.DisplayName("No")
                    }
                </dd>

                <dt>
                    @Html.DisplayName("Content (English)")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.content_en)
                </dd>

                <dt>
                    @Html.DisplayName("Content (Bangla)")
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.content_bn)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-color" /> |
                    <button class="btn btn-color">
                        @Html.ActionLink("Back to List", "Index")
                    </button>
                </div>
            }
        </div>
        <br />
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/knockout.validation.js"></script>